[Unit]
Description=Nabaztag Home Assistant bridge
After=nabd.service
Requires=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
EnvironmentFile=-/opt/pynab/habridge/habridge.conf
ExecStart=/opt/pynab/venv/bin/python -m habridge

[Install]
WantedBy=multi-user.target
